@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.font-inter{
    font-family: "Inter", sans-serif;
}

.font-geist{
    font-family: "Geist", sans-serif;
}

.category-btn.active {
  background-color: #15803D; /* Tailwind's green-100 */
  font-weight: bold;
  color:white; /* Dark green */
  border-radius: 4px
}
